body{
	color: @firstColor;
	font-family: 'sans-serif';
	background-color: darken(#fff,10%);
}
::selection{
	background: @warnColor;
	color: #fff;
}
.hover-scale{
	transition: all .2s;
}
.hover-scale:hover,.hover-scale:active{
	transform: scale(1.02);
	z-index: 1;
}

.nav{
	user-select: none;
	box-shadow: @shdwCls2;
	background-color: #fff;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	.nav-blocks-container{
		display: flex;
		align-items: center;
		margin: auto;
		max-width: 1170px;
	}
	.symbol-icon{
		user-select: none;
		cursor: default;
		flex: 1;
		width: 30px; 
		padding: 5px;
		padding-left: 10px;
		color: @warnColor;
		font-weight: bold;
		font-size: 1.2rem;
	}
	.nav-ul{
		flex: 2;
		max-width: 360px;
		.nav-items{
			display: block;
			float: left;
			width: 25%;
			text-align: center;
			.nav-alink.actived{
				color: @aHovered;
				background-color: darken(#fff,10%);
			}
			a,.nav-alink{
				.em-txt;
				display: block;
				padding: 8px 5px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			a:hover{
				color: @aHovered;
				background-color: darken(#fff,10%);
			}
	
		}
		.more-operate{
			position: relative; 
			.fa-ellipsis-v{
				transition: all .2s;
			}
			.more-oprate-items{
				display: none;
				width: 25vw;
				max-width: 120px;
				position: absolute;
				background-color: #fff;
				border-radius: 2px;
				box-shadow: @shdwCls3;
				right: 0;
				top: 90%;
				overflow: hidden;
				.more-list{
					a{
						display: block;
						padding: 8px;
					}
				}
			}
		}
	}
}

.as-btn,button{
	display: inline-block;
	padding: 8px 12px;
	text-align: center;
	background-color: @aHovered;
	color: #fff;
	user-select: none;
	border-radius: 2px;
	vertical-align: middle;
	transition: all .2s;
	box-shadow: @shdwCls1;
	border: none;
	outline: none;
}
.nav-more-rotate{
	transform: rotate(90deg) scale(1.6);
	text-shadow: @shdwCls1; 
}

.as-btn:hover,.as-btn:active,button:hover,button:active{
	background-color: darken(@aHovered,10%);
	color: #fff;
}
.as-btn.btn-warn,button.btn-warn{
	background-color: @warnColor;
	color: #fff;
}
.as-btn.btn-warn:hover,.as-btn.btn-warn:active,button.btn-warn:hover,button.btn-warn:active{
	background-color: darken(@warnColor,10%);
	color: #fff;
}

.as-btn[disabled],button[disabled]{
	pointer-events: none;
	background-color: lighten(@forthColor,28%);
	color: @forthColor;
}

.input-err-hint{
	color: @warnColor;
	border-color: @warnColor;
}